.btn-default {
	color: #ffffff;
	background-color: green;
	cursor:pointer;
}
.btn-minus {
	cursor:pointer;
}
 .btn-minus.disabled{
	cursor:default;
}
.disabled{
	color:rgba(0,0,0,0.1);
}
.widget-quantity th {
	text-align :center;
}