# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/ShoppingCart/dist
/ShoppingCart/tmp

# dependencies
/ShoppingCart/node_modules
/ShoppingCart/bower_components

# IDEs and editors
/ShoppingCart/.idea
/ShoppingCart/.vscode
.project
.classpath
.c9/
*.launch
.settings/
.editorconfig

# misc
/ShoppingCart/.sass-cache
/ShoppingCart/connect.lock
/ShoppingCart/coverage/*
/ShoppingCart/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/ShoppingCart/e2e/*.js
/ShoppingCart/e2e/*.map

#System Files
.DS_Store
Thumbs.db
