<div class ="container"  class=" container panel panel-default">
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="./assets/images/{{_item.image}}"alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{_item.name}}</h4>
    <div class ="priceperkg">
       {{_item.priceperunit/100 | currency:'GBP':true:'1.2-2'}}/kg
    </div>
    <div class ="price">
       {{_item.price/100 | currency:'GBP':true:'1.2-2'}}
    </div>
  </div>
  <app-save-list-icon (click) ="saveItem()">  </app-save-list-icon>
  <app-quantity-widget [_quantity] =  "_item.quantity" (add) = "addItem($event)"  (delete) = "deleteItem($event)"> </app-quantity-widget>

</div>
</div>